@import "./reset.css";

:root {
    --app-light-bg:#f5fcff;
    --app-dark-bg:#1f2227;
    --app-red:#ff3c57;
    --app-yellow:#ffd13c;
    --app-green:#33ab4e;
    --app-green-hover:#158f32;
    --app-purple:#380036;
    --app-purple-hover:#580155;
    --app-orange:#ff833c;
    --app-pink:#f85fdc;
    --app-orange-hover:#fe7a2d;
    --app-light-blue:#0CBABA;
    --app-light-blue-hover:#048989;
    --app-blue:#3b5998;
    --app-blue-hover:#30529c;
    --app-white:#fbfbfb;
    --app-black:#1a1d21;
    --app-dark-grey:#222;
    --app-medium-grey:#b0b3b8;
    --app-light-grey:#e4e6eb;
    --app-light-text-color: #fbfbfb;
    --app-dark-text-color: #1c1c1c;
    --app-grey-text-color: #343434;

    --app-btn-height: 46px;
    --app-btn-width: 100%;
    --app-letter-spacing: 0.2px;
    --app-header-line-height: 70px;
    --app-text-line-height: 50px;
    --app-main-font-size: 18px;
    --app-secondary-font-size: 14px;
}
    
body.index {
    background: url("../images/logo-bg.jpg");
}

body:not(.index) {
    /* background-color: #f1f1f1; */
    background-color: rgba(115, 153, 213, 0.09);
}

.container {
    width: min(100% - 25px, 1080px);
    margin-inline: auto;
}

.flexbox {
    display: flex;
}

.center {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: grid;
    place-items: center;
}

header {
    line-height: var(--app-header-line-height);
    height: 70px;
    background-color: #f8f8f8;
    min-width: 500px;
}

.home-center {
    margin: 40px 0px;
}

footer {
    height: 112px;
    background-color: #f8f8f8;
    display: flex;
    align-content: center;
    align-items: center;
    min-width: 500px;
}

footer .flexbox {
    justify-content: space-between;
}
