
/**************************************************/
/*****      HEADER                           ******/
/**************************************************/

header {
    line-height: var(--app-header-line-height);
    height: 70px;
    min-width: 800px;
    background-color: #f8f8f8;
}

header .flexbox {
    justify-content: space-between;
}

header .login-logo-bg .logo-image, .logo-name {
    display: inline;
    margin-right: 5px;
    font-size: 20px;
}

header .login-logo-bg .logo-image i {
    background: -moz-linear-gradient(top, var(--app-purple) 0%, var(--app-light-blue) 100%);
    background: -webkit-linear-gradient(top, var(--app-purple) 0%, var(--app-light-blue) 100%);
    background: linear-gradient(to right, var(--app-purple) 0%, var(--app-light-blue) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

header .login-logo-bg .logo-name {
    font-weight: 700;
    color: var(--app-dark-text-color);
}

.avatar {    
    line-height: var(--app-header-line-height);
}

.avatar img {
    width: 40px;
    height: 40px;
    color: var(--app-white);
    display: grid;
    place-items: center;
    margin-top: 12px;
    border-radius: 50%;
}

.avatar .dropbtn {
    color: var(--app-dark-text-color);
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.avatar .dropbtn:hover {
    transform: rotateZ(-180deg);
}

.avatar .dropdown {
    position: relative;
    display: inline-block;
}

.avatar .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--app-light-text-color);
    box-shadow: rgba(0, 0, 0, 0.03) 0px 26px 30px 10px, rgba(0, 0, 0, 0.03) 0px 16px 10px 10px;
    z-index: 1;
    padding: 10px 20px;
}

.avatar .dropdown-content a {
    color: var(--app-dark-text-color);
    text-decoration: none;
    display: inline;
    transition: all 0.4s ease-in-out;
}

.avatar .dropdown-content a i {
    display: inline;
    padding-right: 10px;
}

.avatar .dropdown-content a:hover {
    color: var(--app-purple);
}

.avatar .dropdown:hover .dropdown-content {
    display: block;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li + li {
    margin-left: 18px;
}

nav ul li a {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: var(--app-letter-spacing);
    cursor: pointer;
    text-decoration: none;
    color: var(--app-dark-text-color);
    position: relative;
    transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
    color: var(--app-light-blue);
}

/**************************************************/
/*****          MAIN CONTAINER               ******/
/**************************************************/

.row {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    width: 100%;
}

.row .card {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 20px 48px 0 rgba(146, 153, 197, 0.15);
}

/* flex columns with screen width 800px and up */
@media (min-width: 901px) {
    .row .card.profile, .card.users {
        width: 25%
    }
    
    .row .card.timeline {
        width: 48%
    }
}

/* flex columns with screen width 801px and down */
@media (max-width: 900px) {
    .row .card.profile, .card.users {
        width: 25%
    }
    
    .row .card.timeline {
        width: 48%
    }
}

/* flex columns with screen width 480px and down */
@media (max-width: 800px) {
    .row .card.profile, .card.users, .row .card.timeline {
        width: 100%
    }
}

/**************************************************/
/*****           PROFILE                     ******/
/**************************************************/

.row .card.profile .profile-info, .premium-info {
    padding: 20px;
}

.row .card.profile .views-connections {
    margin: 20px 0px;
}

.row .card.profile .profile-info {
    text-align: center;
    display: grid;
    place-items: center;
}

.row .card.profile .profile-info .img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff url("../images/me.jpeg") center center / cover no-repeat;
    margin: 20px 0px;
}

.row .card.profile .profile-info .title h2 {
    font-size: 20px;
    color: var(--app-dark-text-color);
}

.row .card.profile .profile-info .title p {
    font-size: 14px;
    color: var(--app-medium-grey);
}

.row .card.profile .profile-info .title {
    margin-bottom: 20px;
}

.row .card.profile .profile-info .linkedin {
    display: flex;
    align-items: center;
    width: 85%;
}

.row .card.profile .profile-info .linkedin i {
    font-size: 14px;
    color: var(--app-light-blue);
}

.row .card.profile .profile-info .linkedin a {
    font-size: 14px;
    color: var(--app-medium-grey);
    transition: color 0.4s ease-in-out;
    text-decoration: none;
}

.row .card.profile .profile-info .linkedin a:hover {
    color: var(--app-light-blue);
}

.row .card.profile .views-connections > div {
    width: 50%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.row .card.profile .views-connections div:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.row .card.profile .views-connections .count {
    font-size: 20px;
    font-weight: 700;
    color: var(--app-dark-text-color);
}

.row .card.profile .views-connections p {
    color: var(--app-medium-grey);
}

.row .card.profile .premium-info {
    text-align: center;
}

.row .card.profile .premium-info p {
    font-size: 14px;
    color: var(--app-medium-grey);
}

.row .card.profile .premium-info button {
    height: 40px;
    text-align: center;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.4s ease-in-out;
    background-color: var(--app-light-grey);
    color: var(--app-purple);
    text-transform: uppercase;
    padding: 0 20px;
    margin-top: 10px;
}

.row .card.profile .premium-info button:hover {
    background-color: var(--app-purple-hover);
    color: var(--app-light-text-color);
}