
/**************************************************/
/*****      HEADER                           ******/
/**************************************************/

header .flexbox {
    justify-content: space-between;
}

header .login-logo-bg .logo-image, .logo-name a {
    display: inline;
    margin-right: 5px;
    font-size: 20px;
    color: var(--app-dark-text-color);
    font-weight: 700;
}

header .login-logo-bg .logo-image i {
    background: -moz-linear-gradient(top, var(--app-purple) 0%, var(--app-light-blue) 100%);
    background: -webkit-linear-gradient(top, var(--app-purple) 0%, var(--app-light-blue) 100%);
    background: linear-gradient(to right, var(--app-purple) 0%, var(--app-light-blue) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

header .login-logo-bg .logo-name {
    font-weight: 700;
    display: inline;
    color: var(--app-dark-text-color);
}

.avatar {    
    line-height: var(--app-header-line-height);
}

.avatar .img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin: 12px 0px;
}

.avatar .logout {
    margin-left: 15px;
    border-radius: 50%;
}

.avatar .logout a {
    text-decoration: none;
    display: inline;
    font-size: 16px;
    color: var(--app-dark-text-color);
    transition: color 0.25s ease-in-out;
}

.avatar .logout a i {
    display: inline;
}

.avatar .logout a:hover {
    color: var(--app-light-blue-hover);
}

/* Show reular nav menu when screen width is 923px and above */
@media only screen and (min-width: 923px) { 
    .burger-menu i {
        visibility: hidden;
        display: none
    }
    
    nav.horizontal ul {
        list-style: none;
    }
    
    nav.horizontal ul li {
        visibility: visible;
        display: inline;
    }

    nav.horizontal ul li + li {
        margin-left: 30px;
    }

    nav.horizontal ul li a {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: var(--app-letter-spacing);
        cursor: pointer;
        text-decoration: none;
        color: var(--app-dark-text-color);
        position: relative;
        transition: color 0.25s ease-in-out;
    }

    nav.horizontal ul li.default a {
        color: var(--app-light-blue);
    }

    nav.horizontal ul li a:hover {
        color: var(--app-light-blue-hover);
    }
}


/* Show hamburger icon when screen width is below 922px */
@media only screen and (max-width: 922px) {
    nav.horizontal {
        visibility: hidden;
        display: none;
    }

    .overlay {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(26, 29, 40, 0.5);
        z-index: 10;
        visibility: hidden;
    }

    nav.vertical {
        position: fixed;
        width: 200px;
        right: 0px;
        top: 70px;
        background-color: #f8f8f8;
        text-align: center;
        box-shadow: 0 10px 20px rgba(146, 153, 197, 0.15);
        border-bottom-left-radius: 5px;
        visibility: hidden;
        display: none;
        z-index: 20;
    }
    
    nav.vertical ul {
        list-style: none;
    }
    
    nav.vertical ul li {
        padding: 0px 20px;
        transition: background-color 0.25s ease-in-out;
    }

    nav.vertical ul li + li {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    nav.vertical ul li a {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: var(--app-letter-spacing);
        cursor: pointer;
        text-decoration: none;
        color: var(--app-dark-text-color);
        position: relative;
    }

    nav.vertical ul li.default a {        
        color: var(--app-light-blue);
    }

    nav.vertical ul li.default:hover {
        background-color: var(--app-light-blue);
    }
    
    nav.vertical ul li.default:hover a {        
        color: var(--app-light-text-color);
    }
    
    nav.vertical ul li:hover {
        background-color: var(--app-light-blue);
        cursor: pointer;
    }
    
    nav.vertical ul li:hover a {
        color: var(--app-light-text-color);
    }
    
    .burger-menu {
        visibility: visible;
        display: inline;
        color: var(--app-dark-text-color);
        font-size: 16px;
        margin-right: 20px;
        transition: color 0.25s ease-in-out;
    }
    
    .burger-menu:hover {
        color: var(--app-light-blue-hover);
        cursor: pointer;
    }
}

/**************************************************/
/*****          MAIN CONTAINER               ******/
/**************************************************/

.row {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    width: 100%;
}

.row .card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 5px;
}

.row .card.profile, .card.users {
    box-shadow: 0 20px 48px 0 rgba(146, 153, 197, 0.15);
    background-color: #f8f8f8;
    align-self: flex-start;
}

/* flex columns with screen width 800px and up */
@media only screen and (min-width: 923px) { 
    .row .card.profile, .card.users {
        width: 20%;
    }
    
    .row .card.timeline {
        width: 50%;
    }
}

/* flex columns with screen width 480px and down */
@media only screen and (max-width: 922px) {
    .row .card.profile, .card.users {
        width: 100%;
    }
    
    .row .card.timeline {
        width: 100%;
    }
}

/**************************************************/
/*****           PROFILE                     ******/
/**************************************************/

.row .card.profile .profile-info, .premium-info {
    padding: 20px;
}

.row .card.profile .views-connections {
    margin: 20px 0px;
}

.row .card.profile .profile-info {
    text-align: center;
    display: grid;
    place-items: center;
}

.row .card.profile .profile-info .img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff url("../images/me.jpeg") center center / cover no-repeat;
    margin: 20px 0px;
}

.row .card.profile .profile-info .title h2 {
    font-size: 20px;
    color: var(--app-dark-text-color);
}

.row .card.profile .profile-info .title p {
    font-size: 14px;
    color: var(--app-medium-grey);
}

.row .card.profile .profile-info .title {
    margin-bottom: 20px;
}

.row .card.profile .profile-info .connect {
    width: 100%;
    display: flex;
}

.row .card.profile .profile-info .linkedin,
.row .card.profile .profile-info .github {
    width: 50%;
}

.row .card.profile .profile-info .linkedin i {
    font-size: 14px;
    color: var(--app-light-blue);
    margin-right: 10px;
}

.row .card.profile .profile-info .github i {
    font-size: 14px;
    color: var(--app-purple);
    margin-right: 10px;
}

.row .card.profile .profile-info .linkedin a,
.row .card.profile .profile-info .github a {
    font-size: 14px;
    color: var(--app-medium-grey);
    transition: color 0.4s ease-in-out;
    text-decoration: none;
}

.row .card.profile .profile-info .linkedin a:hover {
    color: var(--app-light-blue-hover);
}

.row .card.profile .profile-info .github a:hover {
    color: var(--app-purple-hover);
}

.row .card.profile .views-connections > div {
    width: 50%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

.row .card.profile .views-connections div:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.row .card.profile .views-connections .count {
    font-size: 20px;
    font-weight: 700;
    color: var(--app-dark-text-color);
}

.row .card.profile .views-connections p {
    color: var(--app-medium-grey);
    font-size: 14px;
}

.row .card.profile .premium-info {
    text-align: center;
    margin-bottom: 20px;
}

.row .card.profile .premium-info p {
    font-size: 14px;
    opacity: 0.8;
    color: var(--app-dark-text-color);
}

.row .card.profile .premium-info button {
    height: 40px;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 0.2px;
    transition: all 0.4s ease-in-out;
    background-color: var(--app-light-blue);
    color: var(--app-light-text-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    text-transform: uppercase;
    padding: 0 15px;
    margin-top: 10px;
}

@media only screen and (min-width: 923px) { 
    .row .card.profile .premium-info button {
        font-size: 13px;
        font-weight: 700;
    }
}

@media only screen and (max-width: 922px) {
    .row .card.profile .premium-info button {
        font-size: 13px;
        font-weight: 700;
    }
}

.row .card.profile .premium-info button:hover {
    background-color: var(--app-light-blue-hover);
    color: var(--app-light-text-color);
}


/**************************************************/
/*****           TIMELINE                    ******/
/**************************************************/

.timeline-post {
    padding: 20px;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 20px 48px 0 rgba(146, 153, 197, 0.15);
}

.timeline-post .form textarea {
    width: 100%;
    border: none;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    background-color: var(--app-light-grey);
    color: var(--app-dark-text-color);
    border-radius: 5px;
    resize: none;
    padding: 0 10px;
    padding-top: 15px;
}

.timeline-post .form textarea::placeholder {
    line-height: 25px;
}

.timeline-post .form .timeline-post-actions {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0 0;
}

.timeline-post .form .file-name-selected {
    height: 40px;
    text-align: left;
    color: var(--app-medium-grey);
    font-size: 14px;
    margin-left: 10px;
    display: flex;
    align-items: center;    
}

/* .timeline-post .form .file-name-selected.not-empty::before {
    position: relative;
    content: "\f1f8";
    font-family: FontAwesome;
    top: 0;
    left: 90%;
    padding-right: 10px;
    cursor: pointer;
} */

.timeline-post .form #fileInput{
    display: none;
}

.timeline-post .form .add-photo-icon {
    display: flex;
    align-items: center;
}

.timeline-post .form .add-photo-icon p {
    margin-left: 10px;
    font-size: 14px;
    color: var(--app-medium-grey);
}

@media only screen and (min-width: 923px) { 
    .timeline-post .form .file-name-selected {
        width: 60%;
    }
}

@media only screen and (max-width: 922px) {
    .timeline-post .form .file-name-selected {
        width: 50%;
    }
}


.timeline-post .form .file-icon{
    cursor: pointer;
    color: var(--app-yellow);
    font-size: 25px;
}

.timeline-post .form .timeline-post-actions button {
    height: 40px;
    text-align: center;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.2px;
    transition: all 0.4s ease-in-out;
    text-transform: uppercase;
    padding: 0 15px;
}

.timeline-post .form .timeline-post-actions button:not(.disabled) {
    background-color: var(--app-purple);
    color: var(--app-light-text-color);
    cursor: pointer;
}


.timeline-post .form .timeline-post-actions button.disabled {
    background-color: var(--app-light-grey);
    color: var(--app-grey-text-color);
    cursor: not-allowed;
}

.timeline-post .form .timeline-post-actions button:not(.disabled):hover {
    background-color: var(--app-purple-hover);
    color: var(--app-light-text-color);
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 10px;
}

.grid > div.card {
    color: var(--app-dark-text-color);
    box-shadow: 0 20px 48px 0 rgba(146, 153, 197, 0.15);
    background-color: #f8f8f8;
    border-radius: 5px;
    animation: appearUp 0.4s ease-in;
    padding: 15px;
}

.grid > div.card .post-header {
    line-height: 30px;
    margin-bottom: 10px;
}

.grid > div.card .post-header .post-profile-pic {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
}

.grid > div.card .post-header .post-profile-pic img {
    width: 30px;
    height: 30px;
}

.grid > div.card .post-header .profile-name {
    width: 70%;
    color: var(--app-dark-text-color);
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    padding-left: 10px;
}

.grid > div.card .post-header .post-date {
    font-size: 14px;
    color: var(--app-medium-grey);
    width: 30%;
    text-align: right;
}

.grid > div.card .post-header p {
    color: var(--app-dark-text-color);
    font-size: 15px;
    font-weight: 400;
}

.grid > div.card .post-body > * {
    margin-bottom: 10px;
}

.grid > div.card .post-body .post-body-img {
    width: 100%;
    display: grid;
    place-items: center;
}

.grid > div.card .post-body p {
    font-size: 14px;
    word-wrap: break-all;
    word-break: break-all;
}

.message {
    display: grid;
    align-items: center;
    text-align: center;
}

/**************************************************/
/*****           USERS                       ******/
/**************************************************/

.row .card.users .heading {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.row .card.users h2 {
    font-size: 20px;
    color: var(--app-dark-text-color);
}

.row .card.users .users .user-cards .user-card {
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: appearUp 0.4s ease-in;
}

.row .card.users .users .user-cards .user-card .img {
    border-radius: 50%;
    overflow: hidden;
}

@media only screen and (min-width: 923px) { 
    .row .card.users .users .user-cards .user-card .img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .row .card.users .users .user-cards .user-card .details .name,
    .row .card.users .users .user-cards .user-card .details .city {
        font-size: 14px;
    }
}

@media only screen and (max-width: 922px) {
    .row .card.users .users .user-cards .user-card .img {
        width: 70px;
        height: 70px;
    }

    .row .card.users .users .user-cards .user-card .details .name {
        font-size: 17px;
    }

    .row .card.users .users .user-cards .user-card .details .city {
        font-size: 15px;
    }
}

.row .card.users .users .user-cards .user-card .details {
    width: 60%;
}

.row .card.users .users .user-cards .user-card .details .name {
    color: var(--app-dark-text-color);
    font-weight: 700;
}

.row .card.users .users .user-cards .user-card .details .city {
    font-weight: 400;
    color: var(--app-medium-grey);
}

.row .card.users .users .user-cards .user-card .connect i {
    color: var(--app-purple);
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    padding: 7px 8px;
    border-radius: 50%;
    background-color: var(--app-light-text-color);
}

.row .card.users .users .user-cards .user-card .connect i:hover {
    color: var(--app-light-text-color);
    border-radius: 50%;
    background-color: var(--app-purple-hover);
}

/**************************************************/
/*****           FOOTER                      ******/
/**************************************************/

@media only screen and (min-width: 923px) { 
    footer article p, .copyright p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 922px) {
    footer article p, .copyright p {
        font-size: 13px;
    }
}

footer p {
    line-height: 30px;
    color: var(--app-light-blue);
}
